div.content
    h1.account Контакты
    div.search-table-section
        div.search-section
            div.search
                <input type="search" placeholder="Найти: Название/Ссылка" class="input">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.385 15.446C13.0372 16.5229 11.3281 17.0429 9.60888 16.8991C7.88965 16.7552 6.29075 15.9586 5.14055 14.6727C3.99035 13.3869 3.37617 11.7094 3.42415 9.9848C3.47214 8.26024 4.17865 6.6195 5.39857 5.39958C6.6185 4.17965 8.25923 3.47315 9.9838 3.42516C11.7084 3.37717 13.3858 3.99135 14.6717 5.14155C15.9576 6.29175 16.7542 7.89066 16.898 9.60989C17.0419 11.3291 16.5219 13.0382 15.445 14.386L20.601 19.541C20.6747 19.6097 20.7338 19.6925 20.7748 19.7845C20.8158 19.8765 20.8378 19.9758 20.8396 20.0765C20.8414 20.1772 20.8228 20.2772 20.7851 20.3706C20.7474 20.464 20.6913 20.5488 20.62 20.62C20.5488 20.6913 20.464 20.7474 20.3706 20.7851C20.2772 20.8228 20.1772 20.8414 20.0765 20.8396C19.9758 20.8378 19.8765 20.8158 19.7845 20.7748C19.6925 20.7338 19.6097 20.6747 19.541 20.601L14.385 15.446ZM6.459 13.884C5.72504 13.15 5.22515 12.2148 5.02251 11.1968C4.81987 10.1787 4.92357 9.12344 5.32051 8.1643C5.71745 7.20517 6.3898 6.38523 7.25261 5.8081C8.11541 5.23098 9.12994 4.92258 10.168 4.92189C11.206 4.92119 12.2209 5.22822 13.0845 5.80418C13.9481 6.38014 14.6216 7.19917 15.0198 8.15778C15.418 9.11638 15.5231 10.1715 15.3219 11.1898C15.1206 12.2082 14.622 13.144 13.889 13.879L13.884 13.884L13.879 13.888C12.8941 14.8706 11.5594 15.4221 10.1682 15.4214C8.77691 15.4206 7.44284 14.8677 6.459 13.884Z" fill="#4A4D63"/>
                </svg>
            div.button
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M8.50012 12C8.50012 11.8606 8.55551 11.7268 8.65411 11.6282C8.7527 11.5297 8.88642 11.4743 9.02586 11.4743H11.4744V9.02574C11.4744 8.8863 11.5298 8.75258 11.6284 8.65398C11.727 8.55539 11.8607 8.5 12.0001 8.5C12.1396 8.5 12.2733 8.55539 12.3719 8.65398C12.4705 8.75258 12.5259 8.8863 12.5259 9.02574V11.4743H14.9744C15.1138 11.4743 15.2475 11.5297 15.3461 11.6282C15.4447 11.7268 15.5001 11.8606 15.5001 12C15.5001 12.1394 15.4447 12.2732 15.3461 12.3718C15.2475 12.4703 15.1138 12.5257 14.9744 12.5257H12.5259V14.9743C12.5259 15.1137 12.4705 15.2474 12.3719 15.346C12.2733 15.4446 12.1396 15.5 12.0001 15.5C11.8607 15.5 11.727 15.4446 11.6284 15.346C11.5298 15.2474 11.4744 15.1137 11.4744 14.9743V12.5257H9.02586C8.88642 12.5257 8.7527 12.4703 8.65411 12.3718C8.55551 12.2732 8.50012 12.1394 8.50012 12Z" fill="white"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M3.25 12C3.25 9.67936 4.17187 7.45376 5.81282 5.81282C7.45376 4.17187 9.67936 3.25 12 3.25C14.3206 3.25 16.5462 4.17187 18.1872 5.81282C19.8281 7.45376 20.75 9.67936 20.75 12C20.75 14.3206 19.8281 16.5462 18.1872 18.1872C16.5462 19.8281 14.3206 20.75 12 20.75C9.67936 20.75 7.45376 19.8281 5.81282 18.1872C4.17187 16.5462 3.25 14.3206 3.25 12ZM12 4.75C11.0479 4.75 10.1052 4.93753 9.22554 5.30187C8.34593 5.66622 7.5467 6.20025 6.87348 6.87348C6.20025 7.5467 5.66622 8.34593 5.30187 9.22554C4.93753 10.1052 4.75 11.0479 4.75 12C4.75 12.9521 4.93753 13.8948 5.30187 14.7745C5.66622 15.6541 6.20025 16.4533 6.87348 17.1265C7.5467 17.7997 8.34593 18.3338 9.22554 18.6981C10.1052 19.0625 11.0479 19.25 12 19.25C13.9228 19.25 15.7669 18.4862 17.1265 17.1265C18.4862 15.7669 19.25 13.9228 19.25 12C19.25 10.0772 18.4862 8.23311 17.1265 6.87348C15.7669 5.51384 13.9228 4.75 12 4.75Z" fill="white"/>
                </svg>
                span Добавить чат
        div.table-section    
            table
                tr.head
                    td Логин
                    td Теги
                    td Чат
                    td Дата обновления
                    td 
                tr
                    td.login
                        span @akkauntforbusiness
                    td.tag
                        span Бегущие сердца
                        span AdYummy
                        span AdYummy
                    td AdYummy
                    td 01.02.2023
                    td
                        div.flex
                            div.icon
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.6069 3.75073C14.8057 3.75073 14.9963 3.82962 15.1369 3.97007L17.9649 6.79907C18.1054 6.9397 18.1843 7.13032 18.1843 7.32907C18.1843 7.52782 18.1054 7.71845 17.9649 7.85907L8.77295 17.0511C8.67874 17.1456 8.56103 17.2132 8.43195 17.2471L4.60395 18.2471C4.47738 18.2801 4.34438 18.2794 4.21814 18.2451C4.09191 18.2109 3.97684 18.1442 3.88434 18.0517C3.79185 17.9592 3.72516 17.8441 3.69088 17.7179C3.6566 17.5916 3.65594 17.4586 3.68895 17.3321L4.68895 13.5021C4.72266 13.3735 4.78996 13.2561 4.88395 13.1621L14.0769 3.97007C14.2176 3.82962 14.4082 3.75073 14.6069 3.75073Z" fill="#4A4D63"/>
                                    <path d="M4 19.75C3.80109 19.75 3.61032 19.829 3.46967 19.9697C3.32902 20.1103 3.25 20.3011 3.25 20.5C3.25 20.6989 3.32902 20.8897 3.46967 21.0303C3.61032 21.171 3.80109 21.25 4 21.25H19C19.1989 21.25 19.3897 21.171 19.5303 21.0303C19.671 20.8897 19.75 20.6989 19.75 20.5C19.75 20.3011 19.671 20.1103 19.5303 19.9697C19.3897 19.829 19.1989 19.75 19 19.75H4Z" fill="#4A4D63"/>
                                </svg>
                            div.basket
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 2.25C9.80109 2.25 9.61032 2.32902 9.46967 2.46967C9.32902 2.61032 9.25 2.80109 9.25 3V3.75H5C4.80109 3.75 4.61032 3.82902 4.46967 3.96967C4.32902 4.11032 4.25 4.30109 4.25 4.5C4.25 4.69891 4.32902 4.88968 4.46967 5.03033C4.61032 5.17098 4.80109 5.25 5 5.25H19C19.1989 5.25 19.3897 5.17098 19.5303 5.03033C19.671 4.88968 19.75 4.69891 19.75 4.5C19.75 4.30109 19.671 4.11032 19.5303 3.96967C19.3897 3.82902 19.1989 3.75 19 3.75H14.75V3C14.75 2.80109 14.671 2.61032 14.5303 2.46967C14.3897 2.32902 14.1989 2.25 14 2.25H10ZM10 10.65C10.1989 10.65 10.3897 10.729 10.5303 10.8697C10.671 11.0103 10.75 11.2011 10.75 11.4V18.4C10.75 18.5989 10.671 18.7897 10.5303 18.9303C10.3897 19.071 10.1989 19.15 10 19.15C9.80109 19.15 9.61032 19.071 9.46967 18.9303C9.32902 18.7897 9.25 18.5989 9.25 18.4V11.4C9.25 11.2011 9.32902 11.0103 9.46967 10.8697C9.61032 10.729 9.80109 10.65 10 10.65ZM14.75 11.4C14.75 11.2011 14.671 11.0103 14.5303 10.8697C14.3897 10.729 14.1989 10.65 14 10.65C13.8011 10.65 13.6103 10.729 13.4697 10.8697C13.329 11.0103 13.25 11.2011 13.25 11.4V18.4C13.25 18.5989 13.329 18.7897 13.4697 18.9303C13.6103 19.071 13.8011 19.15 14 19.15C14.1989 19.15 14.3897 19.071 14.5303 18.9303C14.671 18.7897 14.75 18.5989 14.75 18.4V11.4Z" fill="#CE1F1F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.47211 7.667C6.49254 7.48349 6.57995 7.31396 6.7176 7.19089C6.85525 7.06782 7.03346 6.99985 7.21811 7H17.7441C17.9288 6.99985 18.107 7.06782 18.2446 7.19089C18.3823 7.31396 18.4697 7.48349 18.4901 7.667L18.6901 9.469C19.0531 12.734 19.0531 16.029 18.6901 19.295L18.6701 19.472C18.6 20.102 18.3221 20.6907 17.8803 21.1452C17.4385 21.5997 16.8579 21.8941 16.2301 21.982C13.7429 22.3302 11.2193 22.3302 8.73211 21.982C8.10436 21.8941 7.52375 21.5997 7.08192 21.1452C6.64008 20.6907 6.36219 20.102 6.29211 19.472L6.27211 19.295C5.9093 16.0297 5.9093 12.7343 6.27211 9.469L6.47211 7.667ZM7.88911 8.5L7.76311 9.634C7.41252 12.7893 7.41252 15.9737 7.76311 19.129L7.78311 19.306C7.8162 19.6049 7.9479 19.8842 8.15742 20.0999C8.36694 20.3155 8.64233 20.4553 8.94011 20.497C11.2901 20.826 13.6731 20.826 16.0221 20.497C16.3197 20.4553 16.595 20.3157 16.8045 20.1002C17.014 19.8848 17.1458 19.6057 17.1791 19.307L17.1991 19.129C17.5491 15.974 17.5491 12.789 17.1991 9.634L17.0731 8.5H7.88911Z" fill="#CE1F1F"/>
                                </svg>
                tr
                    td.login
                        span @akkauntforbusiness
                    td.tag
                        span Бегущие сердца
                        span AdYummy
                        span AdYummy
                    td AdYummy
                    td 01.02.2023
                    td
                        div.flex
                            div.icon
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.6069 3.75073C14.8057 3.75073 14.9963 3.82962 15.1369 3.97007L17.9649 6.79907C18.1054 6.9397 18.1843 7.13032 18.1843 7.32907C18.1843 7.52782 18.1054 7.71845 17.9649 7.85907L8.77295 17.0511C8.67874 17.1456 8.56103 17.2132 8.43195 17.2471L4.60395 18.2471C4.47738 18.2801 4.34438 18.2794 4.21814 18.2451C4.09191 18.2109 3.97684 18.1442 3.88434 18.0517C3.79185 17.9592 3.72516 17.8441 3.69088 17.7179C3.6566 17.5916 3.65594 17.4586 3.68895 17.3321L4.68895 13.5021C4.72266 13.3735 4.78996 13.2561 4.88395 13.1621L14.0769 3.97007C14.2176 3.82962 14.4082 3.75073 14.6069 3.75073Z" fill="#4A4D63"/>
                                    <path d="M4 19.75C3.80109 19.75 3.61032 19.829 3.46967 19.9697C3.32902 20.1103 3.25 20.3011 3.25 20.5C3.25 20.6989 3.32902 20.8897 3.46967 21.0303C3.61032 21.171 3.80109 21.25 4 21.25H19C19.1989 21.25 19.3897 21.171 19.5303 21.0303C19.671 20.8897 19.75 20.6989 19.75 20.5C19.75 20.3011 19.671 20.1103 19.5303 19.9697C19.3897 19.829 19.1989 19.75 19 19.75H4Z" fill="#4A4D63"/>
                                </svg>
                            div.basket
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 2.25C9.80109 2.25 9.61032 2.32902 9.46967 2.46967C9.32902 2.61032 9.25 2.80109 9.25 3V3.75H5C4.80109 3.75 4.61032 3.82902 4.46967 3.96967C4.32902 4.11032 4.25 4.30109 4.25 4.5C4.25 4.69891 4.32902 4.88968 4.46967 5.03033C4.61032 5.17098 4.80109 5.25 5 5.25H19C19.1989 5.25 19.3897 5.17098 19.5303 5.03033C19.671 4.88968 19.75 4.69891 19.75 4.5C19.75 4.30109 19.671 4.11032 19.5303 3.96967C19.3897 3.82902 19.1989 3.75 19 3.75H14.75V3C14.75 2.80109 14.671 2.61032 14.5303 2.46967C14.3897 2.32902 14.1989 2.25 14 2.25H10ZM10 10.65C10.1989 10.65 10.3897 10.729 10.5303 10.8697C10.671 11.0103 10.75 11.2011 10.75 11.4V18.4C10.75 18.5989 10.671 18.7897 10.5303 18.9303C10.3897 19.071 10.1989 19.15 10 19.15C9.80109 19.15 9.61032 19.071 9.46967 18.9303C9.32902 18.7897 9.25 18.5989 9.25 18.4V11.4C9.25 11.2011 9.32902 11.0103 9.46967 10.8697C9.61032 10.729 9.80109 10.65 10 10.65ZM14.75 11.4C14.75 11.2011 14.671 11.0103 14.5303 10.8697C14.3897 10.729 14.1989 10.65 14 10.65C13.8011 10.65 13.6103 10.729 13.4697 10.8697C13.329 11.0103 13.25 11.2011 13.25 11.4V18.4C13.25 18.5989 13.329 18.7897 13.4697 18.9303C13.6103 19.071 13.8011 19.15 14 19.15C14.1989 19.15 14.3897 19.071 14.5303 18.9303C14.671 18.7897 14.75 18.5989 14.75 18.4V11.4Z" fill="#CE1F1F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.47211 7.667C6.49254 7.48349 6.57995 7.31396 6.7176 7.19089C6.85525 7.06782 7.03346 6.99985 7.21811 7H17.7441C17.9288 6.99985 18.107 7.06782 18.2446 7.19089C18.3823 7.31396 18.4697 7.48349 18.4901 7.667L18.6901 9.469C19.0531 12.734 19.0531 16.029 18.6901 19.295L18.6701 19.472C18.6 20.102 18.3221 20.6907 17.8803 21.1452C17.4385 21.5997 16.8579 21.8941 16.2301 21.982C13.7429 22.3302 11.2193 22.3302 8.73211 21.982C8.10436 21.8941 7.52375 21.5997 7.08192 21.1452C6.64008 20.6907 6.36219 20.102 6.29211 19.472L6.27211 19.295C5.9093 16.0297 5.9093 12.7343 6.27211 9.469L6.47211 7.667ZM7.88911 8.5L7.76311 9.634C7.41252 12.7893 7.41252 15.9737 7.76311 19.129L7.78311 19.306C7.8162 19.6049 7.9479 19.8842 8.15742 20.0999C8.36694 20.3155 8.64233 20.4553 8.94011 20.497C11.2901 20.826 13.6731 20.826 16.0221 20.497C16.3197 20.4553 16.595 20.3157 16.8045 20.1002C17.014 19.8848 17.1458 19.6057 17.1791 19.307L17.1991 19.129C17.5491 15.974 17.5491 12.789 17.1991 9.634L17.0731 8.5H7.88911Z" fill="#CE1F1F"/>
                                </svg>
                tr
                    td.login
                        span @akkauntforbusiness
                    td.tag
                        span Бегущие сердца
                        span AdYummy
                        span AdYummy
                    td AdYummy
                    td 01.02.2023
                    td
                        div.flex
                            div.icon
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.6069 3.75073C14.8057 3.75073 14.9963 3.82962 15.1369 3.97007L17.9649 6.79907C18.1054 6.9397 18.1843 7.13032 18.1843 7.32907C18.1843 7.52782 18.1054 7.71845 17.9649 7.85907L8.77295 17.0511C8.67874 17.1456 8.56103 17.2132 8.43195 17.2471L4.60395 18.2471C4.47738 18.2801 4.34438 18.2794 4.21814 18.2451C4.09191 18.2109 3.97684 18.1442 3.88434 18.0517C3.79185 17.9592 3.72516 17.8441 3.69088 17.7179C3.6566 17.5916 3.65594 17.4586 3.68895 17.3321L4.68895 13.5021C4.72266 13.3735 4.78996 13.2561 4.88395 13.1621L14.0769 3.97007C14.2176 3.82962 14.4082 3.75073 14.6069 3.75073Z" fill="#4A4D63"/>
                                    <path d="M4 19.75C3.80109 19.75 3.61032 19.829 3.46967 19.9697C3.32902 20.1103 3.25 20.3011 3.25 20.5C3.25 20.6989 3.32902 20.8897 3.46967 21.0303C3.61032 21.171 3.80109 21.25 4 21.25H19C19.1989 21.25 19.3897 21.171 19.5303 21.0303C19.671 20.8897 19.75 20.6989 19.75 20.5C19.75 20.3011 19.671 20.1103 19.5303 19.9697C19.3897 19.829 19.1989 19.75 19 19.75H4Z" fill="#4A4D63"/>
                                </svg>
                            div.basket
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 2.25C9.80109 2.25 9.61032 2.32902 9.46967 2.46967C9.32902 2.61032 9.25 2.80109 9.25 3V3.75H5C4.80109 3.75 4.61032 3.82902 4.46967 3.96967C4.32902 4.11032 4.25 4.30109 4.25 4.5C4.25 4.69891 4.32902 4.88968 4.46967 5.03033C4.61032 5.17098 4.80109 5.25 5 5.25H19C19.1989 5.25 19.3897 5.17098 19.5303 5.03033C19.671 4.88968 19.75 4.69891 19.75 4.5C19.75 4.30109 19.671 4.11032 19.5303 3.96967C19.3897 3.82902 19.1989 3.75 19 3.75H14.75V3C14.75 2.80109 14.671 2.61032 14.5303 2.46967C14.3897 2.32902 14.1989 2.25 14 2.25H10ZM10 10.65C10.1989 10.65 10.3897 10.729 10.5303 10.8697C10.671 11.0103 10.75 11.2011 10.75 11.4V18.4C10.75 18.5989 10.671 18.7897 10.5303 18.9303C10.3897 19.071 10.1989 19.15 10 19.15C9.80109 19.15 9.61032 19.071 9.46967 18.9303C9.32902 18.7897 9.25 18.5989 9.25 18.4V11.4C9.25 11.2011 9.32902 11.0103 9.46967 10.8697C9.61032 10.729 9.80109 10.65 10 10.65ZM14.75 11.4C14.75 11.2011 14.671 11.0103 14.5303 10.8697C14.3897 10.729 14.1989 10.65 14 10.65C13.8011 10.65 13.6103 10.729 13.4697 10.8697C13.329 11.0103 13.25 11.2011 13.25 11.4V18.4C13.25 18.5989 13.329 18.7897 13.4697 18.9303C13.6103 19.071 13.8011 19.15 14 19.15C14.1989 19.15 14.3897 19.071 14.5303 18.9303C14.671 18.7897 14.75 18.5989 14.75 18.4V11.4Z" fill="#CE1F1F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.47211 7.667C6.49254 7.48349 6.57995 7.31396 6.7176 7.19089C6.85525 7.06782 7.03346 6.99985 7.21811 7H17.7441C17.9288 6.99985 18.107 7.06782 18.2446 7.19089C18.3823 7.31396 18.4697 7.48349 18.4901 7.667L18.6901 9.469C19.0531 12.734 19.0531 16.029 18.6901 19.295L18.6701 19.472C18.6 20.102 18.3221 20.6907 17.8803 21.1452C17.4385 21.5997 16.8579 21.8941 16.2301 21.982C13.7429 22.3302 11.2193 22.3302 8.73211 21.982C8.10436 21.8941 7.52375 21.5997 7.08192 21.1452C6.64008 20.6907 6.36219 20.102 6.29211 19.472L6.27211 19.295C5.9093 16.0297 5.9093 12.7343 6.27211 9.469L6.47211 7.667ZM7.88911 8.5L7.76311 9.634C7.41252 12.7893 7.41252 15.9737 7.76311 19.129L7.78311 19.306C7.8162 19.6049 7.9479 19.8842 8.15742 20.0999C8.36694 20.3155 8.64233 20.4553 8.94011 20.497C11.2901 20.826 13.6731 20.826 16.0221 20.497C16.3197 20.4553 16.595 20.3157 16.8045 20.1002C17.014 19.8848 17.1458 19.6057 17.1791 19.307L17.1991 19.129C17.5491 15.974 17.5491 12.789 17.1991 9.634L17.0731 8.5H7.88911Z" fill="#CE1F1F"/>
                                </svg>
                tr
                    td.login
                        span @akkauntforbusiness
                    td.tag
                        span Бегущие сердца
                        span AdYummy
                        span AdYummy
                    td AdYummy
                    td 01.02.2023
                    td
                        div.flex
                            div.icon
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.6069 3.75073C14.8057 3.75073 14.9963 3.82962 15.1369 3.97007L17.9649 6.79907C18.1054 6.9397 18.1843 7.13032 18.1843 7.32907C18.1843 7.52782 18.1054 7.71845 17.9649 7.85907L8.77295 17.0511C8.67874 17.1456 8.56103 17.2132 8.43195 17.2471L4.60395 18.2471C4.47738 18.2801 4.34438 18.2794 4.21814 18.2451C4.09191 18.2109 3.97684 18.1442 3.88434 18.0517C3.79185 17.9592 3.72516 17.8441 3.69088 17.7179C3.6566 17.5916 3.65594 17.4586 3.68895 17.3321L4.68895 13.5021C4.72266 13.3735 4.78996 13.2561 4.88395 13.1621L14.0769 3.97007C14.2176 3.82962 14.4082 3.75073 14.6069 3.75073Z" fill="#4A4D63"/>
                                    <path d="M4 19.75C3.80109 19.75 3.61032 19.829 3.46967 19.9697C3.32902 20.1103 3.25 20.3011 3.25 20.5C3.25 20.6989 3.32902 20.8897 3.46967 21.0303C3.61032 21.171 3.80109 21.25 4 21.25H19C19.1989 21.25 19.3897 21.171 19.5303 21.0303C19.671 20.8897 19.75 20.6989 19.75 20.5C19.75 20.3011 19.671 20.1103 19.5303 19.9697C19.3897 19.829 19.1989 19.75 19 19.75H4Z" fill="#4A4D63"/>
                                </svg>
                            div.basket
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 2.25C9.80109 2.25 9.61032 2.32902 9.46967 2.46967C9.32902 2.61032 9.25 2.80109 9.25 3V3.75H5C4.80109 3.75 4.61032 3.82902 4.46967 3.96967C4.32902 4.11032 4.25 4.30109 4.25 4.5C4.25 4.69891 4.32902 4.88968 4.46967 5.03033C4.61032 5.17098 4.80109 5.25 5 5.25H19C19.1989 5.25 19.3897 5.17098 19.5303 5.03033C19.671 4.88968 19.75 4.69891 19.75 4.5C19.75 4.30109 19.671 4.11032 19.5303 3.96967C19.3897 3.82902 19.1989 3.75 19 3.75H14.75V3C14.75 2.80109 14.671 2.61032 14.5303 2.46967C14.3897 2.32902 14.1989 2.25 14 2.25H10ZM10 10.65C10.1989 10.65 10.3897 10.729 10.5303 10.8697C10.671 11.0103 10.75 11.2011 10.75 11.4V18.4C10.75 18.5989 10.671 18.7897 10.5303 18.9303C10.3897 19.071 10.1989 19.15 10 19.15C9.80109 19.15 9.61032 19.071 9.46967 18.9303C9.32902 18.7897 9.25 18.5989 9.25 18.4V11.4C9.25 11.2011 9.32902 11.0103 9.46967 10.8697C9.61032 10.729 9.80109 10.65 10 10.65ZM14.75 11.4C14.75 11.2011 14.671 11.0103 14.5303 10.8697C14.3897 10.729 14.1989 10.65 14 10.65C13.8011 10.65 13.6103 10.729 13.4697 10.8697C13.329 11.0103 13.25 11.2011 13.25 11.4V18.4C13.25 18.5989 13.329 18.7897 13.4697 18.9303C13.6103 19.071 13.8011 19.15 14 19.15C14.1989 19.15 14.3897 19.071 14.5303 18.9303C14.671 18.7897 14.75 18.5989 14.75 18.4V11.4Z" fill="#CE1F1F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.47211 7.667C6.49254 7.48349 6.57995 7.31396 6.7176 7.19089C6.85525 7.06782 7.03346 6.99985 7.21811 7H17.7441C17.9288 6.99985 18.107 7.06782 18.2446 7.19089C18.3823 7.31396 18.4697 7.48349 18.4901 7.667L18.6901 9.469C19.0531 12.734 19.0531 16.029 18.6901 19.295L18.6701 19.472C18.6 20.102 18.3221 20.6907 17.8803 21.1452C17.4385 21.5997 16.8579 21.8941 16.2301 21.982C13.7429 22.3302 11.2193 22.3302 8.73211 21.982C8.10436 21.8941 7.52375 21.5997 7.08192 21.1452C6.64008 20.6907 6.36219 20.102 6.29211 19.472L6.27211 19.295C5.9093 16.0297 5.9093 12.7343 6.27211 9.469L6.47211 7.667ZM7.88911 8.5L7.76311 9.634C7.41252 12.7893 7.41252 15.9737 7.76311 19.129L7.78311 19.306C7.8162 19.6049 7.9479 19.8842 8.15742 20.0999C8.36694 20.3155 8.64233 20.4553 8.94011 20.497C11.2901 20.826 13.6731 20.826 16.0221 20.497C16.3197 20.4553 16.595 20.3157 16.8045 20.1002C17.014 19.8848 17.1458 19.6057 17.1791 19.307L17.1991 19.129C17.5491 15.974 17.5491 12.789 17.1991 9.634L17.0731 8.5H7.88911Z" fill="#CE1F1F"/>
                                </svg>
                tr
                    td.login
                        span @akkauntforbusiness
                    td.tag
                        span Бегущие сердца
                        span AdYummy
                        span AdYummy
                    td AdYummy
                    td 01.02.2023
                    td
                        div.flex
                            div.icon
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.6069 3.75073C14.8057 3.75073 14.9963 3.82962 15.1369 3.97007L17.9649 6.79907C18.1054 6.9397 18.1843 7.13032 18.1843 7.32907C18.1843 7.52782 18.1054 7.71845 17.9649 7.85907L8.77295 17.0511C8.67874 17.1456 8.56103 17.2132 8.43195 17.2471L4.60395 18.2471C4.47738 18.2801 4.34438 18.2794 4.21814 18.2451C4.09191 18.2109 3.97684 18.1442 3.88434 18.0517C3.79185 17.9592 3.72516 17.8441 3.69088 17.7179C3.6566 17.5916 3.65594 17.4586 3.68895 17.3321L4.68895 13.5021C4.72266 13.3735 4.78996 13.2561 4.88395 13.1621L14.0769 3.97007C14.2176 3.82962 14.4082 3.75073 14.6069 3.75073Z" fill="#4A4D63"/>
                                    <path d="M4 19.75C3.80109 19.75 3.61032 19.829 3.46967 19.9697C3.32902 20.1103 3.25 20.3011 3.25 20.5C3.25 20.6989 3.32902 20.8897 3.46967 21.0303C3.61032 21.171 3.80109 21.25 4 21.25H19C19.1989 21.25 19.3897 21.171 19.5303 21.0303C19.671 20.8897 19.75 20.6989 19.75 20.5C19.75 20.3011 19.671 20.1103 19.5303 19.9697C19.3897 19.829 19.1989 19.75 19 19.75H4Z" fill="#4A4D63"/>
                                </svg>
                            div.basket
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 2.25C9.80109 2.25 9.61032 2.32902 9.46967 2.46967C9.32902 2.61032 9.25 2.80109 9.25 3V3.75H5C4.80109 3.75 4.61032 3.82902 4.46967 3.96967C4.32902 4.11032 4.25 4.30109 4.25 4.5C4.25 4.69891 4.32902 4.88968 4.46967 5.03033C4.61032 5.17098 4.80109 5.25 5 5.25H19C19.1989 5.25 19.3897 5.17098 19.5303 5.03033C19.671 4.88968 19.75 4.69891 19.75 4.5C19.75 4.30109 19.671 4.11032 19.5303 3.96967C19.3897 3.82902 19.1989 3.75 19 3.75H14.75V3C14.75 2.80109 14.671 2.61032 14.5303 2.46967C14.3897 2.32902 14.1989 2.25 14 2.25H10ZM10 10.65C10.1989 10.65 10.3897 10.729 10.5303 10.8697C10.671 11.0103 10.75 11.2011 10.75 11.4V18.4C10.75 18.5989 10.671 18.7897 10.5303 18.9303C10.3897 19.071 10.1989 19.15 10 19.15C9.80109 19.15 9.61032 19.071 9.46967 18.9303C9.32902 18.7897 9.25 18.5989 9.25 18.4V11.4C9.25 11.2011 9.32902 11.0103 9.46967 10.8697C9.61032 10.729 9.80109 10.65 10 10.65ZM14.75 11.4C14.75 11.2011 14.671 11.0103 14.5303 10.8697C14.3897 10.729 14.1989 10.65 14 10.65C13.8011 10.65 13.6103 10.729 13.4697 10.8697C13.329 11.0103 13.25 11.2011 13.25 11.4V18.4C13.25 18.5989 13.329 18.7897 13.4697 18.9303C13.6103 19.071 13.8011 19.15 14 19.15C14.1989 19.15 14.3897 19.071 14.5303 18.9303C14.671 18.7897 14.75 18.5989 14.75 18.4V11.4Z" fill="#CE1F1F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.47211 7.667C6.49254 7.48349 6.57995 7.31396 6.7176 7.19089C6.85525 7.06782 7.03346 6.99985 7.21811 7H17.7441C17.9288 6.99985 18.107 7.06782 18.2446 7.19089C18.3823 7.31396 18.4697 7.48349 18.4901 7.667L18.6901 9.469C19.0531 12.734 19.0531 16.029 18.6901 19.295L18.6701 19.472C18.6 20.102 18.3221 20.6907 17.8803 21.1452C17.4385 21.5997 16.8579 21.8941 16.2301 21.982C13.7429 22.3302 11.2193 22.3302 8.73211 21.982C8.10436 21.8941 7.52375 21.5997 7.08192 21.1452C6.64008 20.6907 6.36219 20.102 6.29211 19.472L6.27211 19.295C5.9093 16.0297 5.9093 12.7343 6.27211 9.469L6.47211 7.667ZM7.88911 8.5L7.76311 9.634C7.41252 12.7893 7.41252 15.9737 7.76311 19.129L7.78311 19.306C7.8162 19.6049 7.9479 19.8842 8.15742 20.0999C8.36694 20.3155 8.64233 20.4553 8.94011 20.497C11.2901 20.826 13.6731 20.826 16.0221 20.497C16.3197 20.4553 16.595 20.3157 16.8045 20.1002C17.014 19.8848 17.1458 19.6057 17.1791 19.307L17.1991 19.129C17.5491 15.974 17.5491 12.789 17.1991 9.634L17.0731 8.5H7.88911Z" fill="#CE1F1F"/>
                                </svg>
                tr
                    td.login
                        span @akkauntforbusiness
                    td.tag
                        span Бегущие сердца
                        span AdYummy
                        span AdYummy
                    td AdYummy
                    td 01.02.2023
                    td
                        div.flex
                            div.icon
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.6069 3.75073C14.8057 3.75073 14.9963 3.82962 15.1369 3.97007L17.9649 6.79907C18.1054 6.9397 18.1843 7.13032 18.1843 7.32907C18.1843 7.52782 18.1054 7.71845 17.9649 7.85907L8.77295 17.0511C8.67874 17.1456 8.56103 17.2132 8.43195 17.2471L4.60395 18.2471C4.47738 18.2801 4.34438 18.2794 4.21814 18.2451C4.09191 18.2109 3.97684 18.1442 3.88434 18.0517C3.79185 17.9592 3.72516 17.8441 3.69088 17.7179C3.6566 17.5916 3.65594 17.4586 3.68895 17.3321L4.68895 13.5021C4.72266 13.3735 4.78996 13.2561 4.88395 13.1621L14.0769 3.97007C14.2176 3.82962 14.4082 3.75073 14.6069 3.75073Z" fill="#4A4D63"/>
                                    <path d="M4 19.75C3.80109 19.75 3.61032 19.829 3.46967 19.9697C3.32902 20.1103 3.25 20.3011 3.25 20.5C3.25 20.6989 3.32902 20.8897 3.46967 21.0303C3.61032 21.171 3.80109 21.25 4 21.25H19C19.1989 21.25 19.3897 21.171 19.5303 21.0303C19.671 20.8897 19.75 20.6989 19.75 20.5C19.75 20.3011 19.671 20.1103 19.5303 19.9697C19.3897 19.829 19.1989 19.75 19 19.75H4Z" fill="#4A4D63"/>
                                </svg>
                            div.basket
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 2.25C9.80109 2.25 9.61032 2.32902 9.46967 2.46967C9.32902 2.61032 9.25 2.80109 9.25 3V3.75H5C4.80109 3.75 4.61032 3.82902 4.46967 3.96967C4.32902 4.11032 4.25 4.30109 4.25 4.5C4.25 4.69891 4.32902 4.88968 4.46967 5.03033C4.61032 5.17098 4.80109 5.25 5 5.25H19C19.1989 5.25 19.3897 5.17098 19.5303 5.03033C19.671 4.88968 19.75 4.69891 19.75 4.5C19.75 4.30109 19.671 4.11032 19.5303 3.96967C19.3897 3.82902 19.1989 3.75 19 3.75H14.75V3C14.75 2.80109 14.671 2.61032 14.5303 2.46967C14.3897 2.32902 14.1989 2.25 14 2.25H10ZM10 10.65C10.1989 10.65 10.3897 10.729 10.5303 10.8697C10.671 11.0103 10.75 11.2011 10.75 11.4V18.4C10.75 18.5989 10.671 18.7897 10.5303 18.9303C10.3897 19.071 10.1989 19.15 10 19.15C9.80109 19.15 9.61032 19.071 9.46967 18.9303C9.32902 18.7897 9.25 18.5989 9.25 18.4V11.4C9.25 11.2011 9.32902 11.0103 9.46967 10.8697C9.61032 10.729 9.80109 10.65 10 10.65ZM14.75 11.4C14.75 11.2011 14.671 11.0103 14.5303 10.8697C14.3897 10.729 14.1989 10.65 14 10.65C13.8011 10.65 13.6103 10.729 13.4697 10.8697C13.329 11.0103 13.25 11.2011 13.25 11.4V18.4C13.25 18.5989 13.329 18.7897 13.4697 18.9303C13.6103 19.071 13.8011 19.15 14 19.15C14.1989 19.15 14.3897 19.071 14.5303 18.9303C14.671 18.7897 14.75 18.5989 14.75 18.4V11.4Z" fill="#CE1F1F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.47211 7.667C6.49254 7.48349 6.57995 7.31396 6.7176 7.19089C6.85525 7.06782 7.03346 6.99985 7.21811 7H17.7441C17.9288 6.99985 18.107 7.06782 18.2446 7.19089C18.3823 7.31396 18.4697 7.48349 18.4901 7.667L18.6901 9.469C19.0531 12.734 19.0531 16.029 18.6901 19.295L18.6701 19.472C18.6 20.102 18.3221 20.6907 17.8803 21.1452C17.4385 21.5997 16.8579 21.8941 16.2301 21.982C13.7429 22.3302 11.2193 22.3302 8.73211 21.982C8.10436 21.8941 7.52375 21.5997 7.08192 21.1452C6.64008 20.6907 6.36219 20.102 6.29211 19.472L6.27211 19.295C5.9093 16.0297 5.9093 12.7343 6.27211 9.469L6.47211 7.667ZM7.88911 8.5L7.76311 9.634C7.41252 12.7893 7.41252 15.9737 7.76311 19.129L7.78311 19.306C7.8162 19.6049 7.9479 19.8842 8.15742 20.0999C8.36694 20.3155 8.64233 20.4553 8.94011 20.497C11.2901 20.826 13.6731 20.826 16.0221 20.497C16.3197 20.4553 16.595 20.3157 16.8045 20.1002C17.014 19.8848 17.1458 19.6057 17.1791 19.307L17.1991 19.129C17.5491 15.974 17.5491 12.789 17.1991 9.634L17.0731 8.5H7.88911Z" fill="#CE1F1F"/>
                                </svg>
                tr
                    td.login
                        span @akkauntforbusiness
                    td.tag
                        span Бегущие сердца
                        span AdYummy
                        span AdYummy
                    td AdYummy
                    td 01.02.2023
                    td
                        div.flex
                            div.icon
                                <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M14.6069 3.75073C14.8057 3.75073 14.9963 3.82962 15.1369 3.97007L17.9649 6.79907C18.1054 6.9397 18.1843 7.13032 18.1843 7.32907C18.1843 7.52782 18.1054 7.71845 17.9649 7.85907L8.77295 17.0511C8.67874 17.1456 8.56103 17.2132 8.43195 17.2471L4.60395 18.2471C4.47738 18.2801 4.34438 18.2794 4.21814 18.2451C4.09191 18.2109 3.97684 18.1442 3.88434 18.0517C3.79185 17.9592 3.72516 17.8441 3.69088 17.7179C3.6566 17.5916 3.65594 17.4586 3.68895 17.3321L4.68895 13.5021C4.72266 13.3735 4.78996 13.2561 4.88395 13.1621L14.0769 3.97007C14.2176 3.82962 14.4082 3.75073 14.6069 3.75073Z" fill="#4A4D63"/>
                                    <path d="M4 19.75C3.80109 19.75 3.61032 19.829 3.46967 19.9697C3.32902 20.1103 3.25 20.3011 3.25 20.5C3.25 20.6989 3.32902 20.8897 3.46967 21.0303C3.61032 21.171 3.80109 21.25 4 21.25H19C19.1989 21.25 19.3897 21.171 19.5303 21.0303C19.671 20.8897 19.75 20.6989 19.75 20.5C19.75 20.3011 19.671 20.1103 19.5303 19.9697C19.3897 19.829 19.1989 19.75 19 19.75H4Z" fill="#4A4D63"/>
                                </svg>
                            div.basket
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 2.25C9.80109 2.25 9.61032 2.32902 9.46967 2.46967C9.32902 2.61032 9.25 2.80109 9.25 3V3.75H5C4.80109 3.75 4.61032 3.82902 4.46967 3.96967C4.32902 4.11032 4.25 4.30109 4.25 4.5C4.25 4.69891 4.32902 4.88968 4.46967 5.03033C4.61032 5.17098 4.80109 5.25 5 5.25H19C19.1989 5.25 19.3897 5.17098 19.5303 5.03033C19.671 4.88968 19.75 4.69891 19.75 4.5C19.75 4.30109 19.671 4.11032 19.5303 3.96967C19.3897 3.82902 19.1989 3.75 19 3.75H14.75V3C14.75 2.80109 14.671 2.61032 14.5303 2.46967C14.3897 2.32902 14.1989 2.25 14 2.25H10ZM10 10.65C10.1989 10.65 10.3897 10.729 10.5303 10.8697C10.671 11.0103 10.75 11.2011 10.75 11.4V18.4C10.75 18.5989 10.671 18.7897 10.5303 18.9303C10.3897 19.071 10.1989 19.15 10 19.15C9.80109 19.15 9.61032 19.071 9.46967 18.9303C9.32902 18.7897 9.25 18.5989 9.25 18.4V11.4C9.25 11.2011 9.32902 11.0103 9.46967 10.8697C9.61032 10.729 9.80109 10.65 10 10.65ZM14.75 11.4C14.75 11.2011 14.671 11.0103 14.5303 10.8697C14.3897 10.729 14.1989 10.65 14 10.65C13.8011 10.65 13.6103 10.729 13.4697 10.8697C13.329 11.0103 13.25 11.2011 13.25 11.4V18.4C13.25 18.5989 13.329 18.7897 13.4697 18.9303C13.6103 19.071 13.8011 19.15 14 19.15C14.1989 19.15 14.3897 19.071 14.5303 18.9303C14.671 18.7897 14.75 18.5989 14.75 18.4V11.4Z" fill="#CE1F1F"/>
                                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.47211 7.667C6.49254 7.48349 6.57995 7.31396 6.7176 7.19089C6.85525 7.06782 7.03346 6.99985 7.21811 7H17.7441C17.9288 6.99985 18.107 7.06782 18.2446 7.19089C18.3823 7.31396 18.4697 7.48349 18.4901 7.667L18.6901 9.469C19.0531 12.734 19.0531 16.029 18.6901 19.295L18.6701 19.472C18.6 20.102 18.3221 20.6907 17.8803 21.1452C17.4385 21.5997 16.8579 21.8941 16.2301 21.982C13.7429 22.3302 11.2193 22.3302 8.73211 21.982C8.10436 21.8941 7.52375 21.5997 7.08192 21.1452C6.64008 20.6907 6.36219 20.102 6.29211 19.472L6.27211 19.295C5.9093 16.0297 5.9093 12.7343 6.27211 9.469L6.47211 7.667ZM7.88911 8.5L7.76311 9.634C7.41252 12.7893 7.41252 15.9737 7.76311 19.129L7.78311 19.306C7.8162 19.6049 7.9479 19.8842 8.15742 20.0999C8.36694 20.3155 8.64233 20.4553 8.94011 20.497C11.2901 20.826 13.6731 20.826 16.0221 20.497C16.3197 20.4553 16.595 20.3157 16.8045 20.1002C17.014 19.8848 17.1458 19.6057 17.1791 19.307L17.1991 19.129C17.5491 15.974 17.5491 12.789 17.1991 9.634L17.0731 8.5H7.88911Z" fill="#CE1F1F"/>
                                </svg>

