header 
    .row
        .section
            div.logo
                img.logo-item(src="/telegram/images/TelePlusCut.webp", alt="")
            div.logo
                div.profile-image
                    img(src="/telegram/images/User-avatar-profile.png", alt="")
                div.profile
                    span.username Альбина Хмелева
                    span.useremail hmeleva.as@yandex.ru
                